.container {
  width: 90%;
  margin: auto;
}
.table {
  border: 1px solid #ccc;
  min-height: 10vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.header h4 {
  width: 230px;
}
.content {
  display: flex;
  min-height: 40px;
  align-items: center;
  background-color: #efefef;
}

.content h4 {
  padding: 10px;
  width: 230px;
  border: 1px solid #333;
}

.content img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

span {
  cursor: pointer;
}

.actions {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #333;
}

.editBtn {
  background-color: rgb(29, 89, 138);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.deleteBtn {
  background-color: rgb(138, 29, 47);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
