.container {
  width: 90%;
  margin: 1rem auto;
  border: 1px solid #ccc;
  min-height: 30vh;
  position: relative;
  padding: 20px;
}

form {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
label {
  font-size: 18px;
  width: 100px;
}
.formWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.inputField {
  height: 40px;
  width: 250px;
  font-size: 16px;
}

button {
  width: 100px;
  position: absolute;
  bottom: 10px;
  right: 40px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
}

input[type="radio"] {
  margin: 0px 5px;
}
